body {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    color: #747704
}

hr {
    color: #D0C4AB;
    border-width: 3px;
}

.text-muted {
    color: #bcbbbb;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
    font-weight: 800;
}

.title-logo {
    margin-top: 20px;
}

.dark-background {
    background-color: #131A2D;
    color: #D0C4AB;
}

.main-image {
    margin-top: 10px;
}

.featured-work {
    font-size: 30px !important;
}

.hr-row {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px;
    margin-right: 0px;
}